<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AccountControllerServlet</servlet-name>
        <servlet-class>controller.AccountControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAirlineServlet</servlet-name>
        <servlet-class>controller.DashboardAirlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirlineManagementServlet</servlet-name>
        <servlet-class>controller.AirlineManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaggageManagementServlet</servlet-name>
        <servlet-class>controller.BaggageManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightManagementServlet</servlet-name>
        <servlet-class>controller.FlightManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteTicketServlet</servlet-name>
        <servlet-class>controller.RouteTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountControllerServlet</servlet-name>
        <url-pattern>/accountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAirlineServlet</servlet-name>
        <url-pattern>/airlineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirlineManagementServlet</servlet-name>
        <url-pattern>/airlineManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaggageManagementServlet</servlet-name>
        <url-pattern>/baggageManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightManagementServlet</servlet-name>
        <url-pattern>/flightManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteTicketServlet</servlet-name>
        <url-pattern>/routeTicket</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
