:root {
    --tripoveMainColor: rgb(71, 143, 192);
}

table.entity {
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

table.entity thead {
    background-color: #f2f2f2;
}

table.entity th,
table.entity td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    font-size: 14px;
}

table.entity th {
    background-color: var(--tripoveMainColor);
    color: white;
}

table.entity td img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

table.entity td a {
    text-decoration: none;
    margin-right: 10px;
}

table.entity td a:hover {
    text-decoration: underline;
}
#left-column{
    text-align: center;
}
#left-column table{
    display: inline-block;
    margin: 0 auto;
}
#right-column{
    font-size: 14px
}

#right-column form{
    float:right;
}

.entity-update {
    padding: 8px;
    border-radius: 6px;
    border-color: white;
    color: white;
    background-color: #04aa6d;
    cursor: pointer
}

.entity-delete {
    padding: 8px;
    border-radius: 6px;
    border-color: white;
    color: white;
    background-color: #f44336;
    cursor: pointer
}

.entity-detail {
    padding: 8px;
    border-radius: 6px;
    border-color: white;
    color: white;
    background-color: #f7d017;
    cursor: pointer
}

.filterController{
    font-size: 14px;
    float:left
}

.filterController button{
    padding: 6px;
}

.filterElm{
    margin-right: 15px;
    padding: 0 3px
}

.box {
    margin: 100px auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 35px !important;
    font-size: 16px;
    width: max-content;
}
